@tailwind base;
@tailwind components;
@tailwind utilities;

.sui-connect-button > * > button, .sui-connect-button > * > .wkit-connected-container {
  width: 100%;
  max-width: 480px;
}

.wkit-connected-button__balance {
  text-align: left;
}

.ant-btn-primary {
  background-color: #1677ff !important;
}